<!--CABECERA-->
<header id="header">
<div class="navbar navbar-default">
    <div class="navbar-header">
        <a [routerLink]="['home']" class="navbar-brand">Hot Wheels</a>
    </div>
    <div class="collapse navbar-collapse" id="menu">
        <ul class="nav navbar-nav">
            <li>
                <a [routerLink]="['home']">Inicio</a>
            </li>
            <li>
                <a [routerLink]="['crear-coche']">Agregar coche</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="token == null">
            <li>
                <a [routerLink]="['login']">Iniciar sesión</a>
            </li>
            <li>
                <a [routerLink]="['register']">Registro</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="token">
            <li>
                <a>{{identity.name + ' ' + identity.surname}}</a>
            </li>
            <li>
                <a [routerLink]="['logout', 1]"> 
                    <span class="glyphicon glyphicon-log-out"></span> 
                    Cerrar sesión
                </a>
            </li>
        </ul>

        <!--Lo podemos hacer tambien con el campo identity
            
            <ul class="nav navbar-nav navbar-right" *ngIf="identity == undefined">
            <li>
                <a [routerLink]="['login']">Iniciar sesión</a>
            </li>
            <li>
                <a [routerLink]="['register']">Registro</a>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right" *ngIf="identity">
            <li>
                <a>{{identity.name + ' ' + identity.surname}}</a>
            </li>
            <li>
                <a [routerLink]="['logout', 1]"> 
                    <span class="glyphicon glyphicon-log-out"></span> 
                    Cerrar sesión
                </a>
            </li>
        </ul>-->

    </div>
</div>
</header>

<!--CONTENIDO-->
<router-outlet></router-outlet>